{% extends 'first_draft.html' %}
{% block content %}

  <div class="container">
    <h1>Error!</h1>

      <br/>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Error!</strong> {{ show_error }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <br/>

      <form action="/form" method="POST">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" id="quantity" class="form-control" placeholder="Username" name="Username">
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="Password">
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>

</div>

{% endblock %}