{% extends 'first_draft.html' %}
{% block title %}Sing In{% endblock %}

{% block content %}



  <div class="container">
    <br/>
    <h2>Sign In</h2>

    <br/><br/>
    <style>
    form {
    position: absolute;
    width: 300px;
    }
</style>


    <form action="/form" method="POST">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" id="quantity" class="form-control" placeholder="Username" name="Username">
    </div>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="Password">
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>


</div>

{% endblock %}